<div class="container">
  <div class="row">
    <h3>My account</h3>
    <p>{{nailpolishs?.length}} nail polishs are saved in my collection</p>
  </div>
  <div class="row">
    <h3>My last nail polishs </h3>
    <div class="col s12 m6" *ngFor="let nailpolish of lastnailpolishs">
      <div class="card" [routerLink]="['/detail', nailpolish._id]">
        <div class="card-image">
          <cl-image public-id="{{nailpolish.image}}">
          </cl-image>
          <span class="card-title">
            {{nailpolish.name}}
          </span>
        </div>
        <div class="card-content">
          <span>by {{nailpolish.brand}}</span>
        </div>
      </div>
    </div>
  </div>
  <!-- <a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">add</i></a> -->
  <div class="fixed-action-btn horizontal click-to-toggle" >
    <a class="btn-floating btn-large pink" routerLink='/newnailpolish'>
        <i class="material-icons">add</i>
    </a>
  </div>
</div>