<div class="container">
  <div class="row" *ngIf="!modeEdit">
    <div class="col s12 offset-m3 m6">
      <div class="card">
        <div class="card-image">
          <cl-image public-id="{{nailpolish?.image}}">
          </cl-image>
          <span class="card-title">
            {{nailpolish?.name}} details
          </span>
        </div>
        <div class="card-content">
          <p>Color: {{nailpolish?.color}}</p>
          <p>Brand: {{nailpolish?.brand}}</p>
          <p>Category: {{nailpolish?.category}}</p>
        </div>
        <div class="card-action">
          <a (click)="goBack()">Back</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="modeEdit">
    <form class="card col s12 offset-m3 m6"
     #nailpolishform="ngForm">
      <div class="card-content">
        <h1 class="card-title center">Modification</h1>
        <div class="input-field">
          <label class="active">Name *</label>
          <input type="text" name="name" [(ngModel)]="nailpolish.name" required/>
        </div>
        <div class="input-field">
          <label class="active">Image</label>
          <input type="text" name="image" [(ngModel)]="nailpolish.image"/>
        </div>
        <div class="input-field">
          <label class="active">Color</label>
          <input type="text" name="color" [(ngModel)]="nailpolish.color"/>
        </div>
        <div class="input-field">
          <label class="active">Brand</label>
          <input type="text" name="brand" [(ngModel)]="nailpolish.brand"/>
        </div>
        <div class="input-field">
          <label class="active">Category</label>
          <input type="text" name="category" [(ngModel)]="nailpolish.category"/>
        </div>
      </div>
      <div class="card-action">
        <a (click)="modeEditOff()">Cancel</a>
        <a (click)="edit(nailpolishform.value)">Save</a>
      </div>
    </form>
  </div>

<div class="fixed-action-btn horizontal" *ngIf="!modeEdit">
  <a class="btn-floating btn-large pink">
      <i class="large material-icons">menu</i>
    </a>
  <ul>
    <li>
      <a class="btn-floating pink">
        <i class="material-icons" (click)="delete()">delete</i>
      </a>
    </li>
    <li>
      <a class="btn-floating pink">
        <i class="material-icons" (click)="modeEditOn()">edit</i>
      </a>
    </li>
  </ul>
</div>